div#arrow {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
div#arrow.account {
  -webkit-transform: translateY(67px);
          transform: translateY(67px);
}
div#arrow.map {
  -webkit-transform: translateY(134px);
          transform: translateY(134px);
}
div#menu {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
nav#side-nav-menu.nav-open {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
div#menu span {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
nav#side-nav-menu {
  -webkit-transform: translateX(449px);
          transform: translateX(449px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
div#menubox {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
div#menubox.registerOn {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
}
