@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Regular.ttf");
}
*:focus {
  outline: none;
}
body {
  padding: 0;
  margin: 0;
  background-color: #1c283b;
  color: #d6842d;
  overflow: hidden;
  font-family: 'Avenir Next';
}
div#navbar {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.4em;
}
div#logo img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
nav#side-nav-menu {
  overflow: hidden;
  background-color: #1c283b;
  padding: 10px;
  position: absolute;
  top: 55px;
  right: 10px;
  width: 320px;
  height: 100%;
}
div#navcontainer-menu {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
}
form#registerForm {
  margin-top: -180px;
}
div.inputs {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 44px;
  margin-bottom: 40px;
}
div#navcontainer-register div.valid {
  height: 50px;
  z-index: 9999;
  margin-left: 8px;
}
div#navcontainer-login div.valid {
  height: 50px;
  z-index: 9999;
  margin-left: 8px;
}
div.valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
}
div.valid img {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
  height: 20px;
  width: 20px;
}
div#navcontainer-login form {
  margin: -300px 0 0;
}
div#navcontainer-login,
div#navcontainer-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 325px;
  height: 100%;
}
div#navcontainer-login h1,
div#navcontainer-register h1 {
  font-family: 'Avenir Next';
  font-size: 2.5em;
  display: block;
}
div#navcontainer-login a.small,
div#navcontainer-register a.small {
  font-size: 0.9em;
  text-decoration: underline;
}
div#navcontainer-login a.small:hover,
div#navcontainer-register a.small:hover {
  color: #fff;
}
div#navcontainer-login input {
  width: 250px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 2px;
  border-style: none;
  font-size: 1.5em;
  background-color: #3e506c;
  color: #d6842d;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}
div#navcontainer-register input {
  width: 800px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 2px;
  border-style: none;
  font-size: 1em;
  background-color: #3e506c;
  color: #d6842d;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
}
div#navcontainer-login input:focus,
div#navcontainer-register input:focus {
  box-shadow: 0 0 0 1px #fff;
}
::-webkit-input-placeholder {
  color: #d6842d;
  opacity: 1;
}
::-moz-placeholder {
  color: #d6842d;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #d6842d;
  opacity: 1;
}
::placeholder {
  color: #d6842d;
  opacity: 1;
}
div#navcontainer-login button {
  width: 88%;
  height: 62px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0);
  border: 1px solid #d6842d;
  color: #d6842d;
  font-size: 2em;
  cursor: pointer;
}
div#navcontainer-register button {
  width: 88%;
  height: 42px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0);
  border: 1px solid #d6842d;
  color: #d6842d;
  font-size: 1em;
  cursor: pointer;
}
div#navcontainer-login button.disabled,
div#navcontainer-register button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
div#navcontainer-login button:hover,
div#navcontainer-register button:hover {
  border-color: #fff;
  color: #fff;
}
nav#side-nav-menu.nav-open {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
nav#side-nav-menu a {
  font-size: 3em;
  color: #d6842d;
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
}
div.container {
  width: 100%;
  height: 100%;
}
div#arrow {
  position: absolute;
  top: 35px;
  left: 80px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #d6842d;
}
a#home.active {
  color: #fff;
}
a#about.active {
  color: #fff;
}
div.ng-scope {
  width: 100%;
  height: 100%;
}
div.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
  background-color: #626262;
}
div.jumbotron h1 {
  font-size: 2.9em;
}
div#bar {
  position: absolute;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9997;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div#centerMap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1c283b;
  border: 1px solid #d6842d;
  color: #d6842d;
  font-size: 1em;
  border-radius: 5px;
  box-sizing: content-box;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  height: 70px;
  width: 70px;
  opacity: 0.3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div#centerMap svg {
  opacity: 0.4;
  display: block;
  margin: 0 auto;
}
div#centerMap img {
  height: 70px;
  width: 70px;
}
div#centerMap:hover {
  border-color: #d6842d;
  background-color: #1c283b;
  color: #d6842d;
  opacity: 1;
}
#preloader {
  width: 100%;
  margin: 0 auto;
  background-color: #1c283b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  z-index: 9999;
}
#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}
#preloader img {
  height: 64px;
  width: 64px;
}
div {
  padding: 0;
  width: 80%;
}
div#menu {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 9998;
  cursor: pointer;
}
div#menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d6842d;
  border-radius: 9px;
  left: 0;
}
div#menu span:nth-child(1) {
  top: 0px;
}
div#menu span:nth-child(2),
div#menu span:nth-child(3) {
  top: 18px;
}
div#menu span:nth-child(4) {
  top: 36px;
}
div#menu.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
div#menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
div#menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
div#menu.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
div#menubox {
  width: 725px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 9996;
}
