doctype
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		title Document
		link(rel='stylesheet' href='stylesheets/main.css')
		script(src='../bower_components/angular/angular.js')
		script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
		script(rel='preload' src='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js')
		link(rel='preload' href='https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css')
body
	script(src='js/mapbox-gl-directions.js')
	//link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.1.0/mapbox-gl-directions.css')
	link(rel='stylesheet' href='stylesheets/mapbox-gl-directions.css')
	div#preloader(style='position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;')
		img(src='./img/preloader.gif')
	div#menu
		img(src='./img/hamburger.png')
	div#map
	script.
		function getLocation() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showPosition);
			} else {
				x.innerHTML = "Geolocation is not supported by this browser.";
			};
		};

		function showPosition(position) {
			mapboxgl.accessToken = 'pk.eyJ1IjoiamFtZXNhZGlja2Vyc29uIiwiYSI6ImNpbmNidGJqMzBwYzZ2OGtxbXljY3FrNGwifQ.5pIvQjtuO31x4OZm84xycw';
			var map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/jamesadickerson/ciq1h3u9r0009b1lx99e6eujf',
				zoom: 19,
				pitch: 45,
				center: [position.coords.longitude, position.coords.latitude]
			});
			map.addControl(new mapboxgl.Directions());
			var preloader = document.getElementById('preloader');
			setTimeout(function () {
				preloader.classList.add('hidden'); }, 0
			);
		};

		window.onload = function () {
			getLocation();
		};

	script(src='js/map.js')
