div.container(ng-controller='mainController')
	div.main_page
		div.jumbotron
			video(autoplay playsinline muted loop)
				source(src='vid/peer2package_video.mp4' type='video/mp4')
			h1 Peer2Package
			p Earn money for driving your car!
		div.logo_section
			div.logos
				div#buy.front_logo
					img(src='img/buy.svg')
					p BUY
				div#sell.front_logo
					img(src='img/sell.svg')
					p SELL
				div#deliver.front_logo
					img(src='img/deliver.svg')
					p DELIVER
		div#buy_things.main_section
			div.column_one.logo
				img(src='img/buy.svg')
				p BUY
			div.column_two.text
				p  Buy things and get them sent directly to you!
		div#sell_things.main_section
			div.column_one.text
				p  Sell things and no more customers complaining about the wait time!
			div.column_two.logo
				img(src='img/sell.svg')
				p SELL	
		div#deliver_things.main_section
			div.column_one.logo
				img(src='img/deliver.svg')
				p DELIVER
			div.column_two.text
				p  Earn money to drive packages to their destination or hand them off to another driver at any time!
