doctype
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		title Document
		link(rel='stylesheet' href='stylesheets/main.css')
		link(rel='stylesheet' href='stylesheets/animations.css')
		script(src='../bower_components/angular/angular.js')
		script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
		script.
			window.onload = function () {
				var preloader = document.getElementById('preloader');
				setTimeout(function () {
					preloader.classList.add('hidden') }, 0					
				);
			};

	body(ng-app='peer2package')
		div#preloader(style='position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;')
			img(src='./img/preloader.gif')
		div(menu-change)
			div#navbar
				div#logo
					img(src='img/logo3.svg')
					p Peer2Package
				div#menu
					span
					span
					span
					span
			nav#side-nav-menu(role='navigation' ng-controller='menuController')
				div#menubox(ng-class="menuClass")
					div#navcontainer-menu(ng-show='authStatus')
						div#arrow.home
						a#home.active(ui-sref='main') Home
						a#account(ui-sref='account') Account
						a#map(ui-sref='map2') Map
					div#navcontainer-login(ng-show='!authStatus')
						h1 Login
						form#loginForm(ng-submit='submitLog()' name='loginForm' novalidate autocomplete='off')
							div.inputs
								input#email(type='email' ng-model='loginForm.user.email' placeholder='Email' ng-required='true')
								div.valid
									img(src='img/valid.svg' ng-show='loginForm.user.email')
									img(src='img/invalid.svg' ng-show='!loginForm.user.email')
							div.inputs
								input#password(type='password' ng-model='loginForm.user.password' placeholder='Password' ng-required='true')
								div.valid
									img(src='img/valid.svg' ng-show='loginForm.user.password')
									img(src='img/invalid.svg' ng-show='!loginForm.user.password')
							button(type='submit' ng-class='{ "disabled": loginForm.$invalid }' ng-disabled='loginForm.$invalid') Submit
							a.small(ng-click="menuClass='registerOn'") or register
							div#log_error.error
								span.error {{messageLog}}
					div#navcontainer-register(ng-show='!authStatus')
						h1 Register
						form#registerForm(ng-submit='submitReg()' name='regForm' novalidate autocomplete='off')
							div.inputs
								input#email(type='email' ng-model='regForm.user.email' placeholder='Email' ng-required='true')
								div.valid
									img(src='img/valid.svg' ng-show='regForm.user.email')
									img(src='img/invalid.svg' ng-show='!regForm.user.email')
							div.inputs
								input#fname(type='text' ng-model='regForm.user.fname' placeholder='First Name' ng-required='true')
								div.valid
									img(src='img/valid.svg' ng-show='regForm.user.fname')
									img(src='img/invalid.svg' ng-show='!regForm.user.fname')
							div.inputs
								input#lname(type='text' ng-model='regForm.user.lname' placeholder='Last Name' ng-required='true')
								div.valid
									img(src='img/valid.svg' ng-show='regForm.user.lname')
									img(src='img/invalid.svg' ng-show='!regForm.user.lname')
							div.inputs
								input#passwd(type='password' ng-model='regForm.user.password' placeholder='Password' ng-required='true')
								div.valid
									img(src='img/valid.svg' ng-show='regForm.user.password')
									img(src='img/invalid.svg' ng-show='!regForm.user.password')
							div.inputs
								input#pword(type='password' ng-model='regForm.user.pword' placeholder='Confirm Password' ng-required='true')
								div.valid
									img(src='img/valid.svg' ng-show='regForm.user.pword == regForm.user.password && regForm.user.pword')
									img(src='img/invalid.svg' ng-show='regForm.user.pword != regForm.user.password || !regForm.user.pword')
							button(type='submit' ng-class='{ "disabled": regForm.$invalid || regForm.user.pword != regForm.user.password }' ng-disabled='regForm.$invalid') Submit
							a.small(ng-click="menuClass=''") or login
							div#reg_error.error
								span.error {{messageReg}}
		div(ui-view)
			div.container(ng-controller='mainController')
				div.main_page
					div.jumbotron
						video(autoplay playsinline muted loop)
							source(src='vid/peer2package_video.mp4' type='video/mp4')
						h1 Peer2Package
						p Earn money for driving your car!
					div.logo_section
						div.logos
							div#buy.front_logo
								img(src='img/buy.svg')
								p BUY
							div#sell.front_logo
								img(src='img/sell.svg')
								p SELL
							div#deliver.front_logo
								img(src='img/deliver.svg')
								p DELIVER
					div#buy_things.main_section
						div.column_one.logo
							img(src='img/buy.svg')
							p BUY
						div.column_two.text
							p  Buy things and get them sent directly to you!
					div#sell_things.main_section
						div.column_one.text
							p  Sell things and no more customers complaining about the wait time!
						div.column_two.logo
							img(src='img/sell.svg')
							p SELL	
					div#deliver_things.main_section
						div.column_one.logo
							img(src='img/deliver.svg')
							p DELIVER
						div.column_two.text
							p  Earn money to drive packages to their destination or hand them off to another driver at any time!
	footer
		p Peer2Package &copy; 2015 - 
			script.
				document.write(new Date().getFullYear())

	//- Scripts to run after the DOM has loaded.
	script(src='js/main.js')
