script(src='js/map.js')
div#preloader(style='position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;')
	img(src='./img/preloader.gif')
div#bar
	div#centerMap(onclick='moveToPosition()') 
		img(src='./img/center.svg')

div#map
