form#photoUpload(enctype='multipart/form-data')
	h1 Crop Image and Upload
	button(ngf-select ng-model='picFile' accept='image/*') Select Image
	div(ngf-drop ng-model='picFile' ngf-pattern='image/*' class='cropArea')
		<img-crop area-type='square' image='picFile | ngfDataUrl' result-image='croppedDataUrl' ng-init='croppedDataUrl=""'></imgcrop>
	div.croppedImg
		<img id='croppedImg' ng-src="{{croppedDataUrl}}"/>	
	button(ng-click='upload(croppedDataUrl, picFile.name)') Submit
	span.progress(ng-show='progress >= 0')
		div(style="width:{{progress}}%" ng-bind='progress + "%"')
	span(ng-show='result') Upload Successful
	span.err(ng-show='errorMsg') {{errorMsg}}
