div#arrow
  transition transform 0.2s ease-in-out

div#arrow.account
  transform translateY(67px)

div#arrow.map
  transform translateY(134px)

div#arrow.logout
  transform translateY(201px)

div#menu
  transform rotate(0deg)
  transition .5s ease-in-out

nav#side-nav-menu.nav-open
  transform translateX(10px)

div#menu span
  opacity 1
  transform rotate(0deg)
  transition .25s ease-in-out

nav#side-nav-menu
  transform translateX(449px)
  transition transform 0.5s ease-in-out

div#menubox
  transition transform 0.5s ease-in-out


div#menubox.registerOn
  transform translateX(-980px)

div#menubox.loggedIn
  transform translateX(20px)

div.row
  display flex
  flex-direction row
  justify-content space-around
  align-items center
  font-size 1.5em
