backgroundcolor = #1C283B
buttonbg = rgba(28,40,59,0.3)
buttontxt = rgba(214,132,45,0.35)
foregroundcolor = #D6842D
divcolor = #D6842D

@font-face
  font-family 'Avenir Next'
  src url(../fonts/AvenirNext-Regular.ttf)


*:focus
  outline none

body
  padding 0
  margin 0
  background-color backgroundcolor
  color foregroundcolor
  overflow hidden
  font-family 'Avenir Next'

div#navbar
  width 100%
  height 65px
  display flex

nav#side-nav
  background-color backgroundcolor
  padding 10px
  display flex
  position absolute
  top 55px
  right 10px
  flex-direction column
  align-items center
  width 420px
  height 100%
  transform translateX(449px)
  transition transform 0.5s ease-in-out

nav#side-nav.nav-open
  transform translateX(10px)

nav#side-nav a
  font-size 3em
  color foregroundcolor
  text-decoration none
  text-transform lowercase

div.container
  width 100%
  height 100%

div#arrow
  position absolute
  top 34px
  left 120px
  width 0
  height 0
  border-top 10px solid transparent
  border-bottom 10px solid transparent
  border-left 10px solid foregroundcolor
  transition transform 0.2s ease-in-out

a#home.active
  color white

a#about.active
  color white

div#arrow.about
  transform translateY(70px)

div.ng-scope
  width 100%
  height 100%

div.jumbotron
  display flex
  align-items center
  justify-content center
  width 100%
  height 300px
  background-color rgb(98, 98, 98)

div.jumbotron h1
  font-size 2.9em

div#bar
  position absolute
  bottom 100px
  display flex
  z-index 9997
  width 100%
  flex-direction row
  justify-content center


div#centerMap
  position relative
  display flex
  background-color backgroundcolor
  border 1px solid foregroundcolor
  color foregroundcolor
  font-size 1em
  border-radius 5px
  box-sizing content-box;
  padding 0
  align-self center
  height 70px
  width 70px
  opacity 0.3
  justify-content center

div#centerMap svg
  opacity 0.4
  display block
  margin 0 auto

div#centerMap img
  height 70px
  width 70px

div#centerMap:hover
  border-color foregroundcolor
  background-color backgroundcolor
  color foregroundcolor
  opacity 1


#preloader
  width 100%
  margin 0 auto
  background-color backgroundcolor
  display flex
  justify-content center
  align-items center
  opacity 1
  transition opacity 2s
  z-index 9999

#preloader.hidden
  opacity 0
  pointer-events none

#preloader img
  height 64px
  width 64px


div
  padding 0
  width 80%

div#menu
  position absolute
  top 15px
  right 15px
  width 50px
  height 50px
  z-index 9998
  transform rotate(0deg)
  transition .5s ease-in-out
  cursor pointer

div#menu span
  display block
  position absolute
  height 3px
  width 100%
  background foregroundcolor
  border-radius 9px
  opacity 1
  left 0
  transform rotate(0deg)
  transition .25s ease-in-out

div#menu span:nth-child(1)
  top 0px

div#menu span:nth-child(2), div#menu span:nth-child(3)
  top 18px

div#menu span:nth-child(4)
  top 36px

div#menu.open span:nth-child(1)
  top 18px
  width 0
  left 50%

div#menu.open span:nth-child(2)
  transform rotate(45deg)

div#menu.open span:nth-child(3)
  transform rotate(-45deg)

div#menu.open span:nth-child(4)
  top 18px
  width 0
  left 50%

div#map
  position absolute
  top 0
  bottom 0
  width 100%
  z-index 9996
