backgroundcolor = #1C283B
buttonbg = rgba(28,40,59,0.3)
foregroundcolor = #D6842D
divcolor = #D6842D

@font-face
  font-family 'Avenir Next'
  src url(../fonts/AvenirNext-Regular.ttf)

::-webkit-scrollbar
    display none

*:focus
  outline none

html
  scroll-behavior smooth

body
  padding 0
  margin 0
  background-color backgroundcolor
  color foregroundcolor
  overflow-x hidden
  font-family 'Avenir Next'

div#logo > p
  color white

p
  color white

div.main_page
  display flex
  width 100%
  justify-content center
  flex-direction column
  align-items center

div.main_section
  display flex
  width 100%
  height 100px
  flex-direction row
  justify-content space-between
  margin 20px 0

div.logo_section
  display flex
  width 100%
  justify-content center
  height 100px
  align-items center
  flex-direction row

div.logos
  display flex
  justify-content space-between
  width 350px
  height 200px

div.logo_section img
  height 70px
  width 70px

div.main_section img
  height 100px
  width 100px

div.column_one, div.column_two
  display flex
  justify-content center
  align-items center
  padding 20px
  height 100px

div.column_one.logo
  width 100px
  flex-direction column

div#buy_things p
  margin-top -10px

div#sell_things p
  margin-top 5px

div#deliver_things p
  margin-top 5px

div.column_two.logo
  width 100px
  flex-direction column
div.column_one.text
  color white
  width 350px
  overflow hidden
  text-overflow ellipsis
div.column_two.text
  color white
  overflow hidden
  text-overflow ellipsis

div#navbar
  width 100%
  height 70px
  display flex
  position fixed
  top 0
  background-color backgroundcolor
  z-index 9998

div#logo
  display flex
  flex-direction row
  font-size 1.4em

div#logo img
  margin-left 10px
  width 60px
  height 60px
  margin-right 20px

nav#side-nav-menu
  overflow-x hidden
  background-color backgroundcolor
  padding 10px
  position absolute
  top 55px
  right 10px
  width 320px
  height 1200px
  z-index 9998

div#navcontainer-menu
  margin-left 100px
  display flex
  flex-direction column
  align-items flex-start
  width 100%
  height 100%

form
  display flex
  position relative
  padding 0
  justify-content center
  flex-direction column
  align-items center
  width 100%
  height 100%

form#registerForm
  margin-top -405px

div.main
  width 80%
  margin 0 auto

div#navcontainer-login div.inputs
  border-radius 2px
  display flex
  flex-direction row
  width 100%
  height 44px
  margin-bottom 40px

div#navcontainer-register div.inputs
  border-radius 2px
  display flex
  flex-direction row
  width 100%
  height 44px
  margin-bottom 20px

div#navcontainer-register div.valid
  height 50px
  z-index 9997
  margin-top -2px
  margin-left -50px


div#navcontainer-login div.valid
  height 50px
  z-index 9997
  margin-left -50px

div.valid
  display flex
  justify-content center
  width 50px

div.valid img
  align-self center
  margin 0 auto
  height 20px
  width 20px

div#navcontainer-login form
  margin -475px 0 0

div#navcontainer-login, div#navcontainer-register
  display flex
  flex-direction column
  align-items center
  width 325px
  height 100%

div#navcontainer-login
  margin-left 38px

div#navcontainer-register
  margin-left 120px

div#navcontainer-login h1, div#navcontainer-register h1
  font-family 'Avenir Next'
  font-size 2.5em
  display block

div#navcontainer-login a.small, div#navcontainer-register a.small
  font-size 0.9em
  text-decoration underline
  margin-top 30px
  margin-left -10px
  transition 0.25s ease-in-out

div#navcontainer-login a.small:hover, div#navcontainer-register a.small:hover
  color white

div#navcontainer-login input
  width 250px
  height 40px
  margin-bottom 20px
  border-radius 2px
  border-style none
  font-size 1.5em
  background-color #3e506c
  color foregroundcolor
  padding-top 5px
  padding-right 5px
  padding-left 10px
  padding-bottom 5px

div#navcontainer-register input
  width 250px
  height 40px
  margin-bottom 20px
  border-radius 2px
  border-style none
  font-size 1em
  background-color #3e506c
  color foregroundcolor
  padding-top 2px
  padding-right 2px
  padding-left 5px
  padding-bottom 2px

div#navcontainer-login input:focus, div#navcontainer-register input:focus
  box-shadow 0 0 0 1px white
  transition 0.25s ease-in-out

::placeholder
  color foregroundcolor
  opacity 1

div#navcontainer-login button
  width 88%
  height 62px
  border-radius 2px
  background-color rgba(0, 0, 0, 0)
  border 1px solid foregroundcolor
  color foregroundcolor
  font-size 2em
  cursor pointer
  margin-left -18px


div#navcontainer-register button
  width 88%
  height 42px
  border-radius 2px
  background-color rgba(0, 0, 0, 0)
  border 1px solid foregroundcolor
  color foregroundcolor
  font-size 1em
  cursor pointer
  margin-left -25px
  transition 0.25s ease-in-out

div#navcontainer-login button.disabled, div#navcontainer-register button.disabled
  opacity 0.5
  cursor default
  color gray
  border 1px solid gray

div#navcontainer-login button.disabled:hover, div#navcontainer-register button.disabled:hover
  color gray
  border 1px solid gray


div#navcontainer-login button:hover, div#navcontainer-register button:hover
  border-color white
  color white
  transition 0.25s ease-in-out

nav#side-nav-menu a
  font-size 3em
  color foregroundcolor
  text-decoration none
  text-transform lowercase
  cursor pointer

div.container
  width 100%
  height 100%
  margin-top 70px

div#arrow
  position absolute
  top 35px
  left 80px
  width 0
  height 0
  border-top 10px solid transparent
  border-bottom 10px solid transparent
  border-left 10px solid foregroundcolor

a#home.active
  color white
  transition 0.25s ease-in-out

a#account.active
  color white
  transition 0.25s ease-in-out


a#map.active
  color white
  transition 0.25s ease-in-out

video
  width 100%
  height 100%
  position absolute
  margin 0

div.ng-scope
  width 100%
  height 100%

div.jumbotron
  padding 0
  flex-direction column
  display flex
  align-items center
  justify-content center
  width 100%
  height 200px
  background-color backgroundcolor
  margin-bottom 40px
  z-index 9980
  overflow hidden

div.jumbotron h1
  color white
  font-size 2.9em
  position absolute
  margin-top -5px
  z-index 9987

div.jumbotron p
  margin-top 90px
  font-size 1.3em
  z-index 9988

div.front_logo > p
  color white

div#bar
  position absolute
  bottom 100px
  display flex
  z-index 9998
  width 100%
  flex-direction row
  justify-content center


div#centerMap
  position relative
  display flex
  background-color backgroundcolor
  border 1px solid foregroundcolor
  color foregroundcolor
  font-size 1em
  border-radius 5px
  box-sizing content-box;
  padding 0
  align-self center
  height 70px
  width 70px
  opacity 0.3
  justify-content center

div#centerMap svg
  opacity 0.4
  display block
  margin 0 auto

div#centerMap img
  height 70px
  width 70px

div#centerMap:hover
  border-color foregroundcolor
  background-color backgroundcolor
  color foregroundcolor
  opacity 1


#preloader
  width 100%
  margin 0 auto
  background-color backgroundcolor
  display flex
  justify-content center
  align-items center
  opacity 1
  transition opacity 2s
  z-index 9999

#preloader.hidden
  opacity 0
  pointer-events none

#preloader img
  height 64px
  width 64px

div.front_logo
  display flex
  flex-direction column
  justify-content center
  align-items center
div
  padding 0
  width 80%

div#menu
  position absolute
  top 15px
  right 15px
  width 50px
  height 50px
  z-index 9995
  cursor pointer

div#menu span
  display block
  position absolute
  height 3px
  width 100%
  background foregroundcolor
  border-radius 9px
  left 0

div#menu:hover > span
  background-color white

div#menu span:nth-child(1)
  top 0px

div#menu span:nth-child(2), div#menu span:nth-child(3)
  top 18px

div#menu span:nth-child(4)
  top 36px

div#menu.open span:nth-child(1)
  background-color white
  top 18px
  width 0
  left 50%

div#menu.open span:nth-child(2)
  background-color white
  transform rotate(45deg)

div#menu.open span:nth-child(3)
  background-color white
  transform rotate(-45deg)

div#menu.open span:nth-child(4)
  background-color white
  top 18px
  width 0
  left 50%

div#menubox
  width 725px
  height 100%
  display flex
  flex-direction row
  justify-content space-between
  z-index 9998

div#map
  position absolute
  top 0
  bottom 0
  width 100%
  z-index 9996
